/* DataCite color:
  dark blue:  #0084B9
  light blue: #77C9EA
*/

body {
  font-family: sans-serif;
  font-size: 10pt;
}

.help {
  font-size: 16px;
  color: #666;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a {
    color: #0084B9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1,h2,h3 {
	color: #0084B9;
}


/* header elements */

#title {
    margin: auto;
}

#title.homepage {
    text-align: center;
    padding-top: 150px;
}

#title a.title {
    font-size: 50px;
    color: #0084B9;
    text-decoration: none;
}

#title small {
    color: #77C9EA;
}

#title img
{
    vertical-align: middle;
}

#topbar {
    color: #666;
    text-align: right;
    float: right;
}

#query,#query_form,#query_form p {
    display: inline;
}

#query.homepage {
    display: block;
    margin-top: 20px;
}

#query_input.homepage {
    width: 500px;
}

#links {
    font-size: large;
}

#options {
    font-size: small;
    margin-top: 5px;
}

#options span[title] {
    border-bottom: thin dotted black;
    cursor: help;
}

#results {
    margin-top: 5px; 
    width: 99%;
    clear: both;
}

#main {
  margin-left: 20em;
}

#sidebar {
  width: 20em;
  float: left;
}

#stats {
}

.doc {
  margin: 0.5em;
  padding: 2px;
}

.info, .version {
  font-size: small;
}

.doc .stats {
  text-align: right;
  float: right;
}

.doc .exp {
  display: none;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  margin-bottom: 1em;
}

.doc .full {
  display: none;
}

.doc .full pre {
    white-space: pre-wrap;
}

div.doc:hover {
    background: #F0F0F0;
}

td {
  vertical-align: top;
}

td.field_name {
  font-style: italic;
  font-size: small;
  width: 100px;
}

ul {
  margin: 0px;
  margin-left: 1em;
  padding: 0px;
}

#sidebar h2 {
  margin: 5px;
  font-size: large;
}

#sidebar h3 {
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

#debug {
  position: fixed;
  right: 0px;
  width: 30%;
  margin: 5px;
  padding: 2px;
  background: #CCCCCC;
  font-size: small;
}

#filters {
  line-height: 150%;
  margin-bottom: 5px;
  margin-top: 5px;
}

#filters .text {
  color: #666;
}

.filter {
  background: #F0F0F0;
  padding: 2px;
  white-space:nowrap;
  margin-right: 1ex;
}

#filters a {
  background: url("../img/tango/16x16/emblems/emblem-unreadable.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

.filter .name {
  font-size: small;
  padding-right: 5px;
}

#facets {
  margin-right: 5px;
}

.facet {
  padding: 5px;
}

.facet h3 {
  padding: 2px;
  color: #0084B9;
}

.facet ul {
  list-style: none;
  margin-left: 0px;
}

.facet li {
  cursor: pointer;
  margin-bottom: 3px;
  color: #77C9EA;
}

.facet li:hover {
  background: #77C9EA;
}

.facet a {
    display: block;
    text-decoration: none;
}

.facet span.count {
  color: gray;
  font-size: small;
}

.facet .more {
    font-size: small;
}

.facet_data {
    margin-top: 5px;
    background: #EEEEEE;
    padding: 3px;
}

#js_warning {
    color: red;
    margin: 5pt;
}

.short, .info, .version {
    color: #666
}

.title {
    font-size: medium;
}

.hl em {
    font-style: normal;
    font-weight: normal;
    background: #FF0;
}

.hl .field {
    color: #666;
    font-style: italic;
}

code {
    background: #DDD;
}

th {
    text-align: left;
}

.hidden {
    display: none !important;
}

#advanced_form label,
#advanced_form select,
#advanced_form fieldset input[type="text"]{
    width: 240px;
}

#advanced_form fieldset label,
#advanced_form fieldset select,
#advanced_form fieldset input, 
#advanced_form fieldset span 
{
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
}

#advanced_form fieldset {
    float: left; 
    margin: 5px;
    clear: both;
    width: 500px;
}

#advanced_form .range {
    width: 98px !important;
}

#advanced_form br {
    clear: both;
}

noscript {
    color: red;
}

a.doi {
  background: url("../img/tango/16x16/actions/go-jump.png") no-repeat scroll left center transparent;
  background-size: 10px;
  padding-left: 10px;
}

.pagination .pagelink {
    width: 20px;
    display: inline-block;
    color: transparent;
}

.pagination span.pagelink {
    opacity : 0.4;
}

.pagination .next-page {
  background: url("../img/tango/16x16/actions/go-next.png") no-repeat scroll top center transparent;
}

.pagination .prev-page {
  background: url("../img/tango/16x16/actions/go-previous.png") no-repeat scroll top center transparent;  
}

.pagination .last-page {
  background: url("../img/tango/16x16/actions/go-last.png") no-repeat scroll top center transparent;  
}

.pagination .first-page {
  background: url("../img/tango/16x16/actions/go-first.png") no-repeat scroll top center transparent;  
}

.footer {
  color: grey;
  border-top: solid thin grey;
  margin-top: 1.5ex;
  padding-top: 5px;
  background: white;
  width: 100%;
}

.footer span {
  font-size: small !important;
}

img.loading {
  vertical-align: middle;
  margin: 0px 5px;
}
