a.doi {
    /* IE<9 does not respect background-size, so we need more space */ 
    padding-left: 20px;
    
    background-color: white; /* hack for transparent png */
}

div.doc:hover {
    /* disable hover effect because of problem with transparent png */
    background-color: white;
}

.pagination .pagelink {
    /* hack for IE to hide text if background icon is present */
    text-indent: -9999px;
    background-color: white; /* hack for transparent png */
}

.pagination span.pagelink {
    /* IE uses proprietary solution for opacity*/
    filter:alpha(opacity=40);
}

