#set($id = $doc.getFieldValue('dataset_id'))
<div id="#result_id($doc)" class="doc">
  <div class="stats">
    <div class="count">
      #set($count = $response.results.indexOf($doc) + $page.start + 1)
      # $count
    </div>
    <div class="score">
      <a href="#">
        #field("score")
      </a>
      #if($response.getExplainMap())
      <div class="exp">
        $response.getExplainMap().get($id)
      </div>
      #end
    </div>
  </div>
  <div class="title">
    <a href='http://data.datacite.org/#esc_doi("#f('doi')")'>#field_br("title")</a>
    <span class="version">
      #if_has_field("version", "[version #field('version')]")
    </span>
  </div>
  <div class="info">
    <a class="doi" href="http://dx.doi.org/#esc_doi("#f('doi')")">doi:<span class="doi">#f("doi")</span></a>
    #field("resourceTypeGeneral")
    #if_has_field("resourceType", ": #field('resourceType')")
  </div>
  <div class="short">
    #field_et_al("creator",5)
    #if(! $doc.getFieldValue("has_metadata"))
      [no metadata registered]
    #end
  </div>
  <div class="full"></div>
  <div class="hl">
    #if($request.params.q != "*")
      #parse("ui/hl.vm")
    #end
  </div>
</div>
