#set($fieldsAll = $sort.sort($doc.getFieldNames()))
#set($fieldsCustom = [
  "created", "minted", "updated", "uploaded", "indexed", 
  "",
  "allocator_symbol", "allocator", "datacentre_symbol", "datacentre", "dataset_id", "prefix", "doi",
  "",
  "is_active", "has_metadata", "has_media", "refQuality",
  "",
  "schema_version", "namespace",
  ""
])

#macro(row $field)
<tr>
  <td class="field_name">$field</td>
  <td class="field_value">#if_has_field($field, "#field_ul($field)")</td>
</tr>
#end

#macro(divider)
<tr><td colspan="2">&nbsp;</td></tr>
#end

#macro(rows $fields)
  #foreach($field in $fields)
    #if($field != "xml")
      #if($field == "")
        #divider
      #else
        #row($field)
        #set($void = $fieldsAll.remove($field))
      #end
    #end
  #end
#end 

<table>
  #rows($fieldsCustom)
  #rows($fieldsAll.clone())
</table>
