#if($response.facetFields)
  #set($cur_fqs = $request.params.getParams('fq'))
  #set($limit_glob = $request.params.toNamedList().get("facet.limit"))
  #foreach($field in $response.facetFields)
    #set($limit_local = 0)
    #set($limit_local = $request.params.toNamedList().get("f.${field.name}.facet.limit"))
    #set($limit = $math.max($limit_glob,$limit_local))
    #set($count = $field.values.size())
    #if($count > 0)
    <div class="facet" id="facet-$field.name">     
      <h3>#normalize_facet($field.name)</h3>
      <div class="facet_data">
        <ul>
          <li class="hidden">&nbsp;</li> ## ugly hack to make validator happy
        #foreach($facet in $field.values)
          #if($velocityCount == $limit)#break#end
          #set($fq = "$esc.url($field.name):$esc.getQ()$esc.url($facet.name).replaceAll('\+', ' ')$esc.getQ()")
          #set($fq_applied = false)
          #foreach($cur_fq in $cur_fqs)
            #if($fq == $cur_fq)
              #set($fq_applied = true)
              #break
            #end
          #end
          #if(!$fq_applied && $facet.count > 0)
            #if($field.name.matches("(allocator|datacentre)_facet"))
              #set($arr = $facet.name.split(" ",3))
              #set($symbol = $arr.get(0))
              #set($name = $arr.get(2))
              <li title="$esc.html($name)">
                <a href="#url_for_facet_filter($field.name, $facet.name)">
                  <span class="value" title="$esc.html($name)">$esc.html($symbol)</span>
                  <span class="count">($facet.count)</span>
                </a>
              </li>
            #else
              <li>
              #if($facet.name)
                <a href="#url_for_facet_filter($field.name, $facet.name)">
                  <span class="value">$esc.html($facet.name)</span>
                  <span class="count">($facet.count)</span>
                </a>
              #else
                <a href="#url_for_facet_filter_missing($field.name)">
                  <span class="value">&lt;not supplied&gt;</span>
                  <span class="count">($facet.count)</span>
                </a>
              #end
              </li>
            #end
          #end
        #end
        </ul>

      #if($count >= $limit)
        #set($new_limit = $math.add($limit,5))
        <a class="more" href="#url_for_show_more_facet($field.name,$new_limit)">more</a>
      #end 
      </div>
    </div>
    #end
  #end
#end
