<span class="title">DataCite Metadata Search</span>
&bull;
<span class="qtime">Query Time: $response.getHeader().get("QTime")ms</span>
&bull;
#set($rows = $page.start + $page.results_per_page)
#macro(api)api#url_for_lens()&fl=doi,creator,title,publisher,publicationYear,datacentre&fq=is_active:true&fq=has_metadata:true&rows=$rows#end
<span>API Query : 
  <a class="api"href="#api&wt=xml&indent=true">xml</a>,
  <a class="api" href="#api&wt=json&indent=true">json</a>,
  <a class="api" href="#api&wt=csv">csv</a>
</span>
&bull;
<span><a id="oai" href="http://oai.datacite.org/oai?verb=ListRecords&metadataPrefix=oai_datacite">OAI-PMH</a></span>
