<table>
  #set($fields = $sort.sort($doc.getFieldNames()))
  #foreach($field in $fields)
    <tr>
      <td class="field_name">$field</td>
      <td class="field_value">#field_ul($field)</td>
    </tr>
  #end
</table>