mds.db.url=jdbc:mysql://{{ default .Env.MYSQL_HOST "mysql" }}:{{ default .Env.MYSQL_PORT "3306" }}/{{ default .Env.MYSQL_DATABASE "datacite" }}?useUnicode=true&characterEncoding=UTF8
mds.db.user={{ .Env.MYSQL_USER }}
mds.db.password={{ .Env.MYSQL_PASSWORD }}
mds.testprefix={{ default .Env.TEST_PREFIX "(10.5072|10.2899)" }}
