mds.db.url=jdbc:mysql://{{ .Env.READ_DB_HOST }}:{{ default .Env.DB_PORT "3306" }}/{{ .Env.READ_DB_NAME }}?useUnicode=true&characterEncoding=UTF8
mds.db.user={{ .Env.READ_DB_USERNAME }}
mds.db.password={{ .Env.READ_DB_PASSWORD }}
mds.testprefix=10.5072
