mds.db.url=jdbc:mysql://{{ .Env.DB_HOST }}:{{ default .Env.DB_PORT "3306" }}/{{ .Env.DB_NAME }}?useUnicode=true&characterEncoding=UTF8
mds.db.user={{ .Env.DB_USERNAME }}
mds.db.password={{ .Env.DB_PASWWORD }}
mds.testprefix=10.5072
