#if($response.facetFields)
#foreach($field in $response.facetFields)
#foreach($facet in $field.values)
#remove_linebreak($facet.name); $facet.count
#end
#end
#end
#if($response.facetRanges)
#foreach($field in $response.facetRanges)
#foreach($facet in $field.counts)
#remove_linebreak($facet.value); $facet.count
#end
#end
#end