#set($docId = $doc.getFieldValue('id'))
<div id="#result_id($doc)" class="doc">
  <div class="stats">
    <div class="count">
      #set($count = $response.results.indexOf($doc) + $page.start + 1)
      # $count
    </div>
    <div class="score">
      <a href="#">
        #field("score")
      </a>
      <div class="exp">
        $response.getExplainMap().get($docId)
      </div>
    </div>
  </div>
  <div class="title">
    <a href="#">
      #field("title")
    </a>
  </div>
  <div class="info">  
    <a href="http://dx.doi.org/#f("doi")"><span class="doi">#f("doi")</span></a>
    (<a href="#esc("http://oai.datacite.org/oai?verb=GetRecord&metadataPrefix=oai_datacite&identifier=oai:oai.datacite.org"):#f("dataset_id")">metadata</a>)
    #field("resourceTypeGeneral"): 
    #field("resourceType")
  </div>
  <div class="short">
    #field_br("publisher")
##    #field_br("description")
  </div>
  <div class="full"/>
</div>