#if($response.facetFields)
  #foreach($field in $response.facetFields)
    <div class="facet" id="facet-$field.name">     
      <h3>$field.name.replaceAll("_facet","")</h3>
      <div class="facet_data">
      <ul>
        #foreach($facet in $field.values)
           #set($fq = "$field.name:$esc.getQ()$esc.url($facet.name)$esc.getQ()")
           #set($query = "$request.originalParams&fq=$fq")
            <li><a href='?$query'><span class="value">$facet.name</span> <span class="count">($facet.count)</span></a></li>
        #end
      </ul>
      <a class="more" href="#">more</a>
      </div>
    </div>
  #end
#end