<title>DataCite Metadata Search</title>
<script type="text/javascript" src="resources/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="resources/ui.js"></script>
<link rel="stylesheet" type="text/css" href="resources/ui.css"/>
<link rel="SHORTCUT ICON" href="resources/favicon.ico"/>
  