#set($hl = $response.highlighting.get($id))
#foreach($field in $hl)
  #foreach($str in $field)
    ## fix for #88
    $esc.html($str).replaceAll("\{!!!\}", "<em>").replaceAll("\{/!!!\}", "</em>")
  #end
#end