<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    #parse("ui/head.vm")
  </head>
  <body>
    <div id="header">
      <div id="topbar">
        <div id="links">
          <a href="http://datacite.org/whatisdatacite">About Us</a> |
          <a href="http://datacite.org/contact">Contact</a> |
          <a href="help.html">Help</a>
        </div>
        <div id="options">
        </div>
      </div>
      <div id="title">
      <div> <!-- hack: needed in ie7 for correct centering -->
        <a href="ui" class="title">
          <img src="resources/img/dc-logo.gif" alt="DataCite Logo"/>
          Metadata Search <small>beta</small>
        </a>
        <div id="query">
          #parse("ui/query.vm")
        </div>
      </div>
      </div>
    </div>
    <div id="results">
      #parse("ui/results.vm")
    </div>
  </body>
</html>