<html>
<head>
  #parse("ui/head.vm")
</head>
  <body>
    <div id="query">
      #parse("ui/query.vm")
    </div>
    <div id="filters">
    </div>
    <div id="results">
      #if($content)$content#end
    </div>
  </body>
</html>